{% extends "base.html" %}
{% block web_content %}
    {% if current_user.is_authenticated %}
        <h1>Hi, {{ current_user.username }}</h1>
    {% endif %}
    {% if form %}
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.body.label }}<br>
                {{ form.body(height=320, width=300) }}<br>
                {% for error in form.body.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.submit() }}
            </p>
        </form>
    {% endif %}
    {% if posts: %}
        {% for post in posts %}
            {% include "_post.html" %}
        {% endfor %}
    {% endif %}
    {% if prev_url %}
        <a href="{{ prev_url }}">Newer posts</a>
    {% endif %}
    {% if next_url %}
        <a href="{{ next_url }}">Older posts</a>
    {% endif %}
{% endblock %}